In [5]:
import pandas as pd
import numpy as np

In [6]:
dfn = pd.read_csv("Bitcoin_Tweets_November2017.csv", encoding = "latin-1", index_col = 0)

In [7]:
dfn.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,2017-11-01 19:59:58,0,NaN,#opreturn #bitcoin,NaN,https://twitter.com/op_return_ack/status/92587...,0,#bitcoin,e4433384af474ba7d9cf72000f0b5938ebc44a192c8ca9...,925875091426160640,NaN
1,2017-11-01 19:59:56,0,NaN,#opreturn #bitcoin,NaN,https://twitter.com/op_return_ack/status/92587...,0,#bitcoin,286c91fef474dc10f447fd12a3993cb3b1e81339c81eea...,925875083045990405,NaN
2,2017-11-01 19:59:54,0,NaN,#opreturn #bitcoin,NaN,https://twitter.com/op_return_ack/status/92587...,0,#bitcoin,5e754d24ef58fdbf48b68fc95c2ffbda468bb75b1c0d4f...,925875074661601280,NaN
3,2017-11-01 19:59:52,0,NaN,#opreturn #bitcoin,NaN,https://twitter.com/op_return_ack/status/92587...,0,#bitcoin,e88ed979208504638e61f94c41f2c231d0bc2cfde07eb4...,925875066277171200,NaN
4,2017-11-01 19:59:51,0,NaN,#Bitcoin,NaN,https://twitter.com/Coinbelly/status/925875064...,0,#bitcoin,3 Reasons Why You Really Should Be Buying #Bit...,925875064238522369,NaN

In [8]:
dfo = pd.read_csv("Bitcoin_Tweets_October2107.csv", encoding = "latin-1", index_col = 0)
dfo.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,10/1/2017 19:59,0,NaN,# # # # #,NaN,https://twitter.com/fuel57395347/status/914641...,0,#bitcoin,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...,9.146410e+17,NaN
1,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/Veki551155/status/91464096...,0,#bitcoin,Beyond # Bitcoin: The power struggle over trus...,9.146410e+17,NaN
2,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/FousFan/status/91464093379...,0,#bitcoin,"RT bitcoinagile ""The power struggle over trust...",9.146410e+17,NaN
3,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/bitcoinagile/status/914640...,0,#bitcoin,The power struggle over trust-based technology...,9.146410e+17,NaN
4,10/1/2017 19:58,2,NaN,#,NaN,https://twitter.com/PhilCrypto77/status/914640...,0,#bitcoin,Extremely bias. The whole # Bitcoin as a novel...,9.146410e+17,NaN

In [13]:
dfd = pd.read_csv("DEC-2017Tweets.csv", encoding = "latin-1", index_col = 0)
dfd.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,12/1/2017 18:59,0,NaN,#,NaN,https://twitter.com/Bit_Collector/status/93674...,0,#bitcoin,Never has anything been as global and scarce a...,9.367470e+17,NaN
1,12/1/2017 18:59,3,NaN,# #,NaN,https://twitter.com/beatsforbitcoin/status/936...,2,#bitcoin,I got hella free # bitcoin im selling less tha...,9.367470e+17,NaN
2,12/1/2017 18:59,2,NaN,# # #,NaN,https://twitter.com/thenextaltcoin/status/9367...,0,#bitcoin,Letting Artificial Intelligence Control Your I...,9.367470e+17,NaN
3,12/1/2017 18:59,0,NaN,# # #,NaN,https://twitter.com/simplycristy23/status/9367...,0,#bitcoin,What it feels like to earn # bitcoin on a dail...,9.367470e+17,NaN
4,12/1/2017 18:59,0,NaN,# # # # #,NaN,https://twitter.com/Cryptocredit/status/936746...,0,#bitcoin,BBC - Capital - The wild week of Bitcoin # Bit...,9.367470e+17,NaN

In [14]:
dfj = pd.read_csv("JAN-2018Tweets.csv", encoding = "latin-1", index_col = 0)
dfj.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,2018-01-01 18:59:38,3,NaN,# # # # # #,NaN,https://twitter.com/GreggyCrypto/status/947980...,0,#bitcoin,Happy New Year to all of you in Crypto (old an...,947980669811965952,NaN
1,2018-01-01 18:59:21,0,NaN,# # # # # #,NaN,https://twitter.com/SpartacusOf89/status/94798...,2,#bitcoin,https://martybebow.wixsite.com/bitcoininfo # b...,947980597913378817,NaN
2,2018-01-01 18:59:15,0,NaN,# # #,NaN,https://twitter.com/spirispark/status/94798057...,0,#bitcoin,# Bitcoin has already surpassed gold in total ...,947980572256800770,NaN
3,2018-01-01 18:59:13,0,NaN,# # # #,NaN,https://twitter.com/BetFastBTC/status/94798056...,0,#bitcoin,Miss any of the # PremierLeague # PL action on...,947980561900912641,NaN
4,2018-01-01 18:59:10,2,NaN,#,NaN,https://twitter.com/xrptips/status/94798055235...,1,#bitcoin,Because it is an open network the other valida...,947980552358916096,NaN

In [15]:
dff = pd.read_csv("FEB-2018Tweets.csv", encoding = "latin-1", index_col = 0)
dff.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,2018-02-01 18:59:57,0,NaN,# # # #,NaN,https://twitter.com/CryptoAtticus/status/95921...,0,#bitcoin,Donât miss out on the # bitcoin boom! Use th...,959214772469338114,NaN
1,2018-02-01 18:59:55,0,NaN,# # # # # # # # #,NaN,https://twitter.com/Online_machine/status/9592...,0,#bitcoin,Collect your F.ree bitcoins here :) http://bit...,959214765070577664,NaN
2,2018-02-01 18:59:47,0,NaN,# # # #,NaN,https://twitter.com/appleswatchnews/status/959...,0,#bitcoin,"Please consider joining firelotto, THE WORLDâ...",959214730589196289,NaN
3,2018-02-01 18:59:38,2,NaN,# # #,@,https://twitter.com/dotnethed/status/959214691...,0,#bitcoin,# Bitcoin to Get Severely Forked in 2018 | # c...,959214691946938368,NaN
4,2018-02-01 18:59:38,0,NaN,# # # #,@,https://twitter.com/CryptoAtticus/status/95921...,0,#bitcoin,Keep track of your # crypto and # bitcoin port...,959214691250827266,NaN

In [16]:
dfm = pd.read_csv("MAR-2018Tweets.csv", encoding = "latin-1", index_col = 0)
dfm.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,2018-03-01 18:59:51,0,NaN,# # # # # # # # # # # # # # #,NaN,https://twitter.com/Cripto_Pasion/status/96936...,0,#bitcoin,"Si lo visualizas, todo es posible. Como dije a...",969361605753491458,NaN
1,2018-03-01 18:59:48,0,NaN,# #,NaN,https://twitter.com/CyberDomain/status/9693615...,1,#bitcoin,Some see the internet as a Wild West where tho...,969361594760204288,NaN
2,2018-03-01 18:59:45,2,NaN,# #,NaN,https://twitter.com/CyberDomain/status/9693615...,0,#bitcoin,This books take you to basic hacking with sql ...,969361582479290368,NaN
3,2018-03-01 18:59:42,2,NaN,# #,NaN,https://twitter.com/CyberDomain/status/9693615...,0,#bitcoin,The availability and security of many services...,969361570621947905,NaN
4,2018-03-01 18:59:39,0,NaN,# #,NaN,https://twitter.com/CyberDomain/status/9693615...,0,#bitcoin,"Do you need to keep up with the latest hacks, ...",969361556566929408,NaN

In [17]:
dfa = pd.concat([dfo,dfn,dfd,dfj,dff,dfm])

In [20]:
dfa.shape

(2522614, 11)

In [21]:
dfa.head()

,date,favorites,geo,hashtags,mentions,permalink,retweets,term,text,tweet_id,username
0,10/1/2017 19:59,0,NaN,# # # # #,NaN,https://twitter.com/fuel57395347/status/914641...,0,#bitcoin,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...,9.146410e+17,NaN
1,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/Veki551155/status/91464096...,0,#bitcoin,Beyond # Bitcoin: The power struggle over trus...,9.146410e+17,NaN
2,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/FousFan/status/91464093379...,0,#bitcoin,"RT bitcoinagile ""The power struggle over trust...",9.146410e+17,NaN
3,10/1/2017 19:59,0,NaN,#,NaN,https://twitter.com/bitcoinagile/status/914640...,0,#bitcoin,The power struggle over trust-based technology...,9.146410e+17,NaN
4,10/1/2017 19:58,2,NaN,#,NaN,https://twitter.com/PhilCrypto77/status/914640...,0,#bitcoin,Extremely bias. The whole # Bitcoin as a novel...,9.146410e+17,NaN

In [29]:
import re

In [24]:
URLless_string = lambda x:re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', x)
dfa["url_clean"]  = dfa["text"].apply(URLless_string)

In [32]:
dfa.index = range(len(dfa.index))

In [33]:
dfa["text"][5]

'# Bitcoin course on Bitcoin, Blockchain and Decentralized technology http://dlvr.it/PrlLMW via â\x86\x92 http://goo.gl/nnFPIZ'

In [34]:
dfa["url_clean"][5]

'# Bitcoin course on Bitcoin, Blockchain and Decentralized technology  via â\x86\x92 '

In [40]:
df =dfa.ix[:,["date", "text", "url_clean"]]
df.shape

(2522614, 3)

In [41]:
df.head()

,date,text,url_clean
0,10/1/2017 19:59,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...
1,10/1/2017 19:59,Beyond # Bitcoin: The power struggle over trus...,Beyond # Bitcoin: The power struggle over trus...
2,10/1/2017 19:59,"RT bitcoinagile ""The power struggle over trust...","RT bitcoinagile ""The power struggle over trust..."
3,10/1/2017 19:59,The power struggle over trust-based technology...,The power struggle over trust-based technology...
4,10/1/2017 19:58,Extremely bias. The whole # Bitcoin as a novel...,Extremely bias. The whole # Bitcoin as a novel...

In [42]:
df.tail()

,date,text,url_clean
2522609,2018-03-05 03:03:03,Want to see something intresting? This is the ...,Want to see something intresting? This is the ...
2522610,2018-03-05 03:03:02,# BTC Average: 10424.09$ # Bitfinex - 11526.00...,# BTC Average: 10424.09$ # Bitfinex - 11526.00...
2522611,2018-03-05 03:03:00,Think You've Missed The Blockchain Boat? Think...,Think You've Missed The Blockchain Boat? Think...
2522612,2018-03-05 03:02:50,The Abyss Aims to Conduct the Worldâs First ...,The Abyss Aims to Conduct the Worldâs First ...
2522613,2018-03-05 03:02:49,# TheAbyss has dual currency options whereby a...,# TheAbyss has dual currency options whereby a...

In [43]:
dfa.to_csv("total_tweets.csv")

In [44]:
df.to_csv("clean_tweets.csv")

In [46]:
lower = lambda x: x.lower()
df["lower"]  = df["url_clean"].apply(lower)

In [47]:
df.head()

,date,text,url_clean,lower
0,10/1/2017 19:59,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...,â ä¾¡æ ¼å·®æ å ±â åå¼æä¾¡æ ¼å·®2546å...
1,10/1/2017 19:59,Beyond # Bitcoin: The power struggle over trus...,Beyond # Bitcoin: The power struggle over trus...,beyond # bitcoin: the power struggle over trus...
2,10/1/2017 19:59,"RT bitcoinagile ""The power struggle over trust...","RT bitcoinagile ""The power struggle over trust...","rt bitcoinagile ""the power struggle over trust..."
3,10/1/2017 19:59,The power struggle over trust-based technology...,The power struggle over trust-based technology...,the power struggle over trust-based technology...
4,10/1/2017 19:58,Extremely bias. The whole # Bitcoin as a novel...,Extremely bias. The whole # Bitcoin as a novel...,extremely bias. the whole # bitcoin as a novel...

In [48]:
len(df)

2522614

# Word Cloud

In [57]:

word2 = np.array(dfa["lower"]).reshape(5,5)

ValueError: cannot reshape array of size 2522614 into shape (5,5)

In [ ]:
word = ""
for i in range(len(df)):
    word = word + df.ix[i,"lower"]

In [61]:
s1 = "".join(df["lower"])

In [62]:
len(s1)

355787494

In [ ]:
s1[6000:6200]

In [ ]:
from scipy.misc import imread
import matplotlib.pyplot as plt


from wordcloud import WordCloud, STOPWORDS

word = s1
wordcloud = WordCloud(relative_scaling = 1.0,
                      stopwords = STOPWORDS # set or space-separated string
                      ).generate(word)
plt.imshow(wordcloud)
plt.axis("off")
plt.show()

# AFFIN Sentiment Score

In [ ]:
import math

In [ ]:
filenameAFINN = 'AFINN-111.txt'
afinn = dict(map(lambda (w, s): (w, int(s)), [ 
            ws.strip().split('\t') for ws in open(filenameAFINN) ]))

In [ ]:
pattern_split = re.compile(r"\W+")

In [ ]:
def sentiment(text):
    """
    Returns a float for sentiment strength based on the input text.
    Positive values are positive valence, negative value are negative valence. 
    """
    words = pattern_split.split(text.lower())
    sentiments = map(lambda word: afinn.get(word, 0), words)
    if sentiments:
        # How should you weight the individual word sentiments? 
        # You could do N, sqrt(N) or 1 for example. Here I use sqrt(N)
        sentiment = float(sum(sentiments))/len(sentiments)
        
    else:
        sentiment = 0
    return sentiment

In [ ]:
dfa["Affin_score"]  = dfa["url_clean"].apply(sentiment)

# sentiment classifier

In [ ]:
from senti_classifier import senti_classifier

def sentiment2(x):
    pos_score, neg_score = senti_classifier.polarity_scores(x)
    return pos_score - neg_score
    


dfa["Sentiment_classifier"]  = dfa["url_clean"].apply(sentiment2)

#this is designed for Python 2.6

# NLTK VADER Sentiment Intensity Analyzer

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

def sentiment3(x):
    score = vader.polarity_scores(x)
    return score['pos'] - score['neg']
    


dfa["Sentiment_NLTKVader"]  = dfa["url_clean"].apply(sentiment3)

# Text Blob Sentiment

In [ ]:
from textblob import TextBlob

def sentiment4(x):
    
    blob = TextBlob(x)
    
    score = 0
    
    for sentence in blob.sentences:
    score = score + sentence.sentiment.polarity
    
    
    return score
    


dfa["Text_Blob_sentiment"]  = dfa["url_clean"].apply(sentiment4)

# Emoji detection

In [ ]:
happy_set = set([":)",":-)","=)"])
sad_set = set([":(",":-(","=("])

In [ ]:
def happy(x):
    h = 0
    v = x.split()
    for i in v:
        if i in happy_set:
            h=1
    return h
            
    

dfa["Happy_emoji"] = dfa["url_clean"].apply(happy)

In [ ]:
def sad(x):
    s = 0
    v = x.split()
    for i in v:
        if i in sad_set:
            s=1
    return s        
            
    

dfa["Sad_emoji"] = dfa["url_clean"].apply(sad)

In [2]:
df.head()

NameError: name 'df' is not defined